$default:#436372;
$title:#191919;
$first:#243f4d;
$additional:#436372;

%Poppins-Bold{
    font-family: 'Poppins-Bold', sans-serif;  
    font-weight: 700;
}

%Rubik-Medium{
    font-family: 'Rubik-Medium', sans-serif;
    font-weight: 500;
}

%Rubik-Regular{
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 400;
}

%DMSans-Bold{
    font-family: 'DMSans-Bold', sans-serif;
    font-weight: 700;
}

%DMSans-Medium{
    font-family: 'DMSans-Medium', sans-serif;
    font-weight: 500;
}

%DMSans-Regular{
    font-family: 'DMSans-Regular', sans-serif;
    font-weight: 400;
}
