@import "vars";
@import "fonts";
@import "global";
@import "libs";
@import "reset";

.header {
  padding: 50px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
  }
  &__list-item + .menu__list-item {
    padding-left: 30px;
  }
  &__list-link {
    color: $default;
    line-height: 12px;
    font-size: 15px;
    padding: 0 2px 5px;
    transition: all 0.4s;
    @extend %Rubik-Medium;
    &:hover {
      color: #fcd7b6;
      border-bottom: 1px solid #fcd7b6;
    }
  }
}

.user-nav {
  display: flex;
  &__link {
    position: relative;
    cursor: default;
  }
  &__link + .user-nav__link {
    padding-left: 20px;
  }
  &__num {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: white;
    top: 8px;
    right: 5px;
    font-size: 12px;
    color: $first;
    text-align: center;
    line-height: 16px;
    @extend %DMSans-Regular;
  }
  &__link-bg {
    width: 46px;
    height: 46px;
    background-color: #fcd7b6;
    border-radius: 50%;
  }
  &__link-img {
    margin: 0 auto;
    padding-top: 15px;
    cursor: pointer;
  }
}

.footer-top {
  padding-bottom: 76px;
  border-bottom: 1px solid #dae4e9;
  display: flex;
  &__contact {
    width: 190px;
    margin-right: 110px;
  }
  &__nav {
    width: 170px;
    margin-right: 100px;
    line-height: 21px;
  }
  &__item-form {
    width: 300px;
    color: #7b7b7b;
  }
  &__logo {
    margin-bottom: 26px;
    display: block;
  }
  &__adress {
    line-height: 24px;
    font-size: 14px;
  }
  &__phone,
  &__email {
    line-height: 32px;
    font-size: 14px;
  }
  &__title {
    margin-bottom: 26px;
    font-size: 16px;
    padding-top: 18px;
    line-height: 21px;
    @extend %DMSans-Bold;
    color: #1f2044;
    text-transform: uppercase;
  }
  &__text {
    margin-bottom: 36px;
  }
  &__link {
    padding-bottom: 8px;
    display: block;
  }
  &__form-input {
    max-width: 190px;
    width: 100%;
    background-color: #fef7f0;
    border: none;
    padding: 15px 10px 15px 17px;
    &::placeholder {
      color: #234969;
      font-size: 12px;
      @extend %DMSans-Regular;
    }
  }
  &__form-btn {
    border: none;
    background-color: #a3bbc8;
    color: white;
    font-size: 14px;
    line-height: 20.5px;
    padding: 15px 18px 13px;
    @extend %DMSans-Regular;
    cursor: pointer;
  }
}

.footer-bottom {
  font-size: 14px;
  color: #7b7b7b;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__list {
    display: flex;
  }
  &__link + &__link {
    padding: 0 18px;
    border-left: 1px solid #7b7b7b;
  }
  &__link-h {
    padding-right: 18px;
  }
}

.top-slider {
  &__inner {
    background-color: #fcd7b6;
    padding-top: 90px;
  }
  &__content {
    padding-top: 100px;
    padding-left: 160px;
  }
  &__title {
    max-width: 570px;
    font-size: 72px;
    line-height: 70px;
    @extend %Rubik-Medium;
    color: $first;
    margin-bottom: 38px;
  }
  &__text {
    max-width: 370px;
    margin-bottom: 40px;
    color: $default;
    font-size: 18px;
    line-height: 30px;
  }
  &__btn {
    @extend %btn;
    display: flex;
    width: 200px;
    justify-content: space-between;
  }
  &__link {
    font-size: 15px;
    line-height: 12px;
    color: #ffff;
  }
  &__item {
    display: flex !important;
    justify-content: space-between;
    transition: all 0.7s;
  }
  &__img {
    padding-right: 120px;
    width: 780px;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    li {
      button {
        padding: 0;
        font-size: 11px;
        line-height: 9px;
        background-color: #fde3cc;
        border: none;
        @extend %Rubik-Medium;
        color: $first;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-bottom: 45px;
      }
    }
    li + li {
      padding-left: 10px;
    }
    .slick-active {
      button {
        background-color: #ffff;
      }
    }
  }
}

.info {
  display: flex;
  justify-content: space-between;
  background-color: #fef7f0;
  margin-bottom: 70px;
  &__item {
    padding: 44px 80px 44px 85px;
    display: flex;
    &-inform {
      padding-left: 25px;
    }
    &-title {
      font-size: 18px;
      line-height: 40px;
      color: #414141;
      @extend %DMSans-Bold;
    }
    &-text {
      @extend %DMSans-Regular;
      line-height: 30px;
      color: #585858;
    }
    &-img {
      margin-top: 15px;
    }
  }
  &__item + &__item {
    border-left: 1px solid #e8e4df;
  }
}

.products-top {
  text-align: center;
}

.products__btn {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: #8b8b8b;
  @extend %DMSans-Bold;
  &:hover {
    color: $title;
    cursor: pointer;
    transition: all 0.8s;
  }
  &:focus {
    color: $title;
  }
  & + & {
    margin-left: 20px;
  }
}

.products {
  &-content {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 270px);
    grid-template-rows: repeat(2, 380px);
    grid-gap: 30px;
  }
  &__item {
    text-align: center;
    box-shadow: 3px 5.196px 47px 3px rgba(37, 37, 37, 0.08);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    &:hover {
      .products__item-link-box {
        transform: translateY(0);
      }
    }
    &-link {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-bottom: 20px;

      &-box {
        position: absolute;
        top: 190px;
        display: flex;
        left: 0;
        right: 0;
        width: 168px;
        margin: 0 auto;
        transform: translateY(500%);
        transition: all 0.3s;
        &-a {
          width: 46px;
          height: 46px;
          background-color: #fff;
          display: grid;
          place-items: center;
          border-radius: 50%;
        }
        &-a + &-a {
          margin-left: 15px;
        }
        &-a:hover {
          transition: all 0.4s;
          background-color: #a3bbc8;
          svg .a {
            fill: #fff;
          }
        }
      }
      &-title {
        @extend %DMSans-Medium;
        color: $first;
        font-size: 16px;
        line-height: 40px;
      }
      &-price {
        @extend %DMSans-Bold;
        color: #a3bbc8;
        line-height: 30px;
      }
    }
    &-link-img {
      margin: auto;
      max-height: 230px;
      max-width: 220px;
      // object-fit: cover;
    }
  }
  &-add {
    margin-bottom: 50px;
  }
  &-button {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: repeat(2, 247px);
    grid-gap: 30px;
    margin-top: 77px;
    &__title {
      font-size: 20px;
      @extend %DMSans-Bold;
      color: $title;
    }
    &__text {
      font-size: 16px;
      color: #a3bbc8;
      @extend %DMSans-Bold;
      margin-top: 12px;
    }
  }
  &-new-button {
    background-color: #f8f8f8;
    position: relative;
    padding: 44px 0 26px 40px;
    overflow: hidden;
  }
  &-button__img {
    mix-blend-mode: darken;
    position: absolute;
    left: 100px;
    top: 45%;
  }
}

.add {
  &-content {
    margin-top: 180px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
  &-option {
    display: flex;
    background-color: #feefe2;
    align-items: center;
    padding-left: 40px;
    height: 390px;

    &__img {
      transform: translateY(-92px);
      margin-right: 25px;
    }
    &__btn {
      display: flex;
      justify-content: space-around;
      padding: 22px 18px;
      width: 180px;
      border: 1px solid #b3b7b5;
      border-radius: 3px;
    }
    &__link {
      font-size: 15px;
      line-height: 12px;
      color: #436372;
      @extend %Rubik-Medium;
    }
    &__inform {
      margin: 0 auto;
      &__title {
        font-size: 26px;
        line-height: 32px;
        color: $first;
        @extend %DMSans-Bold;
        margin-bottom: 18px;
      }
      &__text {
        max-width: 330px;
        color: $first;
        line-height: 30px;
        @extend %Rubik-Regular;
        margin-bottom: 25px;
      }
    }
  }
}

.video-fashion {
  margin-top: 120px;
  margin-bottom: 115px;
  &__inner {
    background-image: url("../images/video-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 390px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.promo {
  position: relative;
  margin-bottom: 150px;
  &-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-view-all {
    color: #262626;
  }
  &-view-all::after {
    content: ">";
    color: #262626;
    margin-left: 18px;
    height: 12px;
    font-size: 16px;
  }
  &-items {
    display: flex;
    justify-content: space-between;
  }
  &-item {
    width: 370px;
    height: 421px;
    background-color: #ffffff;
    box-shadow: 3px 5.196px 47px 3px #25252505;
    border-radius: 5px;
    overflow: hidden;
    &__info {
      padding: 0 30px 30px 30px;
    }
    &__inform {
      padding: 10px 30px;
      background-color: #a3bbc8;
      border-radius: 16px;
      width: 104px;
      height: 30px;
      display: flex;
      align-items: center;
      color: #ffffff;
      @extend %Poppins-Bold;
      line-height: 20px;
      transform: translateY(-16px);
    }
    &__text {
      font-size: 18px;
      color: #262626;
      @extend %DMSans-Medium;
      border-bottom: 1px solid #e0e0e0;
      height: 85px;
      margin-bottom: 16px;
    }
    &__footer {
      display: flex;
      padding-left: 15px;
      color: #222933;
      @extend %Rubik-Regular;
    }
    &__img {
      height: 250px;
      width: 370px;
      object-fit: cover;
    }
    &__date{
      margin-right: 20px;
    }
  }
  &-bg {
    position: absolute;
    background-color: #fef7f0;
    height: 438px;
    width: 100%;
    transform: translateY(-371px);
    z-index: -1;
  }
}

.partners{
  margin-top: 70px;
  &__list{
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

@import "media";
